// -----------------------------------------------------------------------------
// This file contains Separator styles
// -----------------------------------------------------------------------------
.amui-a-separator {
  border-top: $amui-size-border-thin solid $amui-color-gray-300;
  margin-bottom: $amui-space-ms;
  margin-top: $amui-space-ms;
}
// End Atom Separator styles
