// -----------------------------------------------------------------------------
// This file contains Border styles
// -----------------------------------------------------------------------------

// Border bottom
// ------------------------------
.amui-h-bb-none {
  border-bottom: 0 !important;
}

// Border top
// ------------------------------
.amui-h-bt-none {
  border-top: 0 !important;
}

// Border left
// ------------------------------
.amui-h-bl-none {
  border-left: 0 !important;
}

// Border right
// ------------------------------
.amui-h-br-none {
  border-right: 0 !important;
}
// End Border Helpers styles
