// -----------------------------------------------------------------------------
// This file contains Display Helpers styles
// -----------------------------------------------------------------------------

// Display none
.amui-h-display-none {
  display: none;
}

// Display block
.amui-h-display-block {
  display: block;
}

// Display inline
.amui-h-display-inline {
  display: inline;
}

// Display inline-block
.amui-h-display-inline-block {
  display: inline-block;
}

// Display flex
.amui-h-display-flex {
  display: flex;
}

// Display inline-flex
.amui-h-display-inline-flex {
  display: inline-flex;
}
// End Display Helpers styles
