// -----------------------------------------------------------------------------
// This file contains Margin Helpers styles
// -----------------------------------------------------------------------------

// Margin all
// ------------------------------

// Negative
.amui-h-m-n-none {
  margin: -$amui-space-none;
}

.amui-h-m-n-xxxs {
  margin: -$amui-space-xxxs;
}

.amui-h-m-n-xxs {
  margin: -$amui-space-xxs;
}

.amui-h-m-n-xs {
  margin: -$amui-space-xs;
}

.amui-h-m-n-sm {
  margin: -$amui-space-sm;
}

.amui-h-m-n-ms {
  margin: -$amui-space-ms;
}

.amui-h-m-n-md {
  margin: -$amui-space-md;
}

.amui-h-m-n-ml {
  margin: -$amui-space-ml;
}

.amui-h-m-n-lg {
  margin: -$amui-space-lg;
}

.amui-h-m-n-xl {
  margin: -$amui-space-xl;
}

.amui-h-m-n-xxl {
  margin: -$amui-space-xxl;
}

.amui-h-m-n-xxxl {
  margin: -$amui-space-xxxl;
}

// Positive
.amui-h-m-none {
  margin: $amui-space-none;
}

.amui-h-m-xxxs {
  margin: $amui-space-xxxs;
}

.amui-h-m-xxs {
  margin: $amui-space-xxs;
}

.amui-h-m-xs {
  margin: $amui-space-xs;
}

.amui-h-m-sm {
  margin: $amui-space-sm;
}

.amui-h-m-ms {
  margin: $amui-space-ms;
}

.amui-h-m-md {
  margin: $amui-space-md;
}

.amui-h-m-ml {
  margin: $amui-space-ml;
}

.amui-h-m-lg {
  margin: $amui-space-lg;
}

.amui-h-m-xl {
  margin: $amui-space-xl;
}

.amui-h-m-xxl {
  margin: $amui-space-xxl;
}

.amui-h-m-xxxl {
  margin: $amui-space-xxxl;
}

// Margin Top
// ------------------------------

// Negative
.amui-h-mt-n-none {
  margin-top: -$amui-space-none;
}

.amui-h-mt-n-xxxs {
  margin-top: -$amui-space-xxxs;
}

.amui-h-mt-n-xxs {
  margin-top: -$amui-space-xxs;
}

.amui-h-mt-n-xs {
  margin-top: -$amui-space-xs;
}

.amui-h-mt-n-sm {
  margin-top: -$amui-space-sm;
}

.amui-h-mt-n-ms {
  margin-top: -$amui-space-ms;
}

.amui-h-mt-n-md {
  margin-top: -$amui-space-md;
}

.amui-h-mt-n-ml {
  margin-top: -$amui-space-ml;
}

.amui-h-mt-n-lg {
  margin-top: -$amui-space-lg;
}

.amui-h-mt-n-xl {
  margin-top: -$amui-space-xl;
}

.amui-h-mt-n-xxl {
  margin-top: -$amui-space-xxl;
}

.amui-h-mt-n-xxxl {
  margin-top: -$amui-space-xxxl;
}

// Positive
.amui-h-mt-none {
  margin-top: $amui-space-none;
}

.amui-h-mt-xxxs {
  margin-top: $amui-space-xxxs;
}

.amui-h-mt-xxs {
  margin-top: $amui-space-xxs;
}

.amui-h-mt-xs {
  margin-top: $amui-space-xs;
}

.amui-h-mt-sm {
  margin-top: $amui-space-sm;
}

.amui-h-mt-ms {
  margin-top: $amui-space-ms;
}

.amui-h-mt-md {
  margin-top: $amui-space-md;
}

.amui-h-mt-ml {
  margin-top: $amui-space-ml;
}

.amui-h-mt-lg {
  margin-top: $amui-space-lg;
}

.amui-h-mt-xl {
  margin-top: $amui-space-xl;
}

.amui-h-mt-xxl {
  margin-top: $amui-space-xxl;
}

.amui-h-mt-xxxl {
  margin-top: $amui-space-xxxl;
}

// Margin Bottom
// ------------------------------

// Negative
.amui-h-mb-n-none {
  margin-bottom: -$amui-space-none;
}

.amui-h-mb-n-xxxs {
  margin-bottom: -$amui-space-xxxs;
}

.amui-h-mb-n-xxs {
  margin-bottom: -$amui-space-xxs;
}

.amui-h-mb-n-xs {
  margin-bottom: -$amui-space-xs;
}

.amui-h-mb-n-sm {
  margin-bottom: -$amui-space-sm;
}

.amui-h-mb-n-ms {
  margin-bottom: -$amui-space-ms;
}

.amui-h-mb-n-md {
  margin-bottom: -$amui-space-md;
}

.amui-h-mb-n-ml {
  margin-bottom: -$amui-space-ml;
}

.amui-h-mb-n-lg {
  margin-bottom: -$amui-space-lg;
}

.amui-h-mb-n-xl {
  margin-bottom: -$amui-space-xl;
}

.amui-h-mb-n-xxl {
  margin-bottom: -$amui-space-xxl;
}

.amui-h-mb-n-xxxl {
  margin-bottom: -$amui-space-xxxl;
}

// Positive
.amui-h-mb-none {
  margin-bottom: $amui-space-none;
}

.amui-h-mb-xxxs {
  margin-bottom: $amui-space-xxxs;
}

.amui-h-mb-xxs {
  margin-bottom: $amui-space-xxs;
}

.amui-h-mb-xs {
  margin-bottom: $amui-space-xs;
}

.amui-h-mb-sm {
  margin-bottom: $amui-space-sm;
}

.amui-h-mb-ms {
  margin-bottom: $amui-space-ms;
}

.amui-h-mb-md {
  margin-bottom: $amui-space-md;
}

.amui-h-mb-ml {
  margin-bottom: $amui-space-ml;
}

.amui-h-mb-lg {
  margin-bottom: $amui-space-lg;
}

.amui-h-mb-xl {
  margin-bottom: $amui-space-xl;
}

.amui-h-mb-xxl {
  margin-bottom: $amui-space-xxl;
}

.amui-h-mb-xxxl {
  margin-bottom: $amui-space-xxxl;
}

// Margin Left
// ------------------------------

// Negative
.amui-h-ml-n-none {
  margin-left: -$amui-space-none;
}

.amui-h-ml-n-xxxs {
  margin-left: -$amui-space-xxxs;
}

.amui-h-ml-n-xxs {
  margin-left: -$amui-space-xxs;
}

.amui-h-ml-n-xs {
  margin-left: -$amui-space-xs;
}

.amui-h-ml-n-sm {
  margin-left: -$amui-space-sm;
}

.amui-h-ml-n-ms {
  margin-left: -$amui-space-ms;
}

.amui-h-ml-n-md {
  margin-left: -$amui-space-md;
}

.amui-h-ml-n-ml {
  margin-left: -$amui-space-ml;
}

.amui-h-ml-n-lg {
  margin-left: -$amui-space-lg;
}

.amui-h-ml-n-xl {
  margin-left: -$amui-space-xl;
}

.amui-h-ml-n-xxl {
  margin-left: -$amui-space-xxl;
}

.amui-h-ml-n-xxxl {
  margin-left: -$amui-space-xxxl;
}

// Positive
.amui-h-ml-none {
  margin-left: $amui-space-none;
}

.amui-h-ml-xxxs {
  margin-left: $amui-space-xxxs;
}

.amui-h-ml-xxs {
  margin-left: $amui-space-xxs;
}

.amui-h-ml-xs {
  margin-left: $amui-space-xs;
}

.amui-h-ml-sm {
  margin-left: $amui-space-sm;
}

.amui-h-ml-ms {
  margin-left: $amui-space-ms;
}

.amui-h-ml-md {
  margin-left: $amui-space-md;
}

.amui-h-ml-ml {
  margin-left: $amui-space-ml;
}

.amui-h-ml-lg {
  margin-left: $amui-space-lg;
}

.amui-h-ml-xl {
  margin-left: $amui-space-xl;
}

.amui-h-ml-xxl {
  margin-left: $amui-space-xxl;
}

.amui-h-ml-xxxl {
  margin-left: $amui-space-xxxl;
}

// Margin Right
// ------------------------------

// Negative
.amui-h-mr-n-none {
  margin-right: -$amui-space-none;
}

.amui-h-mr-n-xxxs {
  margin-right: -$amui-space-xxxs;
}

.amui-h-mr-n-xxs {
  margin-right: -$amui-space-xxs;
}

.amui-h-mr-n-xs {
  margin-right: -$amui-space-xs;
}

.amui-h-mr-n-sm {
  margin-right: -$amui-space-sm;
}

.amui-h-mr-n-ms {
  margin-right: -$amui-space-ms;
}

.amui-h-mr-n-md {
  margin-right: -$amui-space-md;
}

.amui-h-mr-n-ml {
  margin-right: -$amui-space-ml;
}

.amui-h-mr-n-lg {
  margin-right: -$amui-space-lg;
}

.amui-h-mr-n-xl {
  margin-right: -$amui-space-xl;
}

.amui-h-mr-n-xxl {
  margin-right: -$amui-space-xxl;
}

.amui-h-mr-n-xxxl {
  margin-right: -$amui-space-xxxl;
}

// Positive
.amui-h-mr-none {
  margin-right: $amui-space-none;
}

.amui-h-mr-xxxs {
  margin-right: $amui-space-xxxs;
}

.amui-h-mr-xxs {
  margin-right: $amui-space-xxs;
}

.amui-h-mr-xs {
  margin-right: $amui-space-xs;
}

.amui-h-mr-sm {
  margin-right: $amui-space-sm;
}

.amui-h-mr-ms {
  margin-right: $amui-space-ms;
}

.amui-h-mr-md {
  margin-right: $amui-space-md;
}

.amui-h-mr-ml {
  margin-right: $amui-space-ml;
}

.amui-h-mr-lg {
  margin-right: $amui-space-lg;
}

.amui-h-mr-xl {
  margin-right: $amui-space-xl;
}

.amui-h-mr-xxl {
  margin-right: $amui-space-xxl;
}

.amui-h-mr-xxxl {
  margin-right: $amui-space-xxxl;
}

// Margin Vertical
// ------------------------------

// Negative
// .amui-h-mv-n-none {
//   margin: -$amui-space-none auto;
// }

// .amui-h-mv-n-xxxs {
//   margin: -$amui-space-xxxs auto;
// }

// .amui-h-mv-n-xxs {
//   margin: -$amui-space-xxs auto;
// }

// .amui-h-mv-n-xs {
//   margin: -$amui-space-xs auto;
// }

// .amui-h-mv-n-sm {
//   margin: -$amui-space-sm auto;
// }

// .amui-h-mv-n-ms {
//   margin: -$amui-space-ms auto;
// }

// .amui-h-mv-n-md {
//   margin: -$amui-space-md auto;
// }

// .amui-h-mv-n-ml {
//   margin: -$amui-space-ml auto;
// }

// .amui-h-mv-n-lg {
//   margin: -$amui-space-lg auto;
// }

// .amui-h-mv-n-xl {
//   margin: -$amui-space-xl auto;
// }

// .amui-h-mv-n-xxl {
//   margin: -$amui-space-xxl auto;
// }

// .amui-h-mv-n-xxxl {
//   margin: -$amui-space-xxxl auto;
// }

// Positive
.amui-h-mv-none {
  margin: $amui-space-none auto;
}

.amui-h-mv-xxxs {
  margin: $amui-space-xxxs auto;
}

.amui-h-mv-xxs {
  margin: $amui-space-xxs auto;
}

.amui-h-mv-xs {
  margin: $amui-space-xs auto;
}

.amui-h-mv-sm {
  margin: $amui-space-sm auto;
}

.amui-h-mv-ms {
  margin: $amui-space-ms auto;
}

.amui-h-mv-md {
  margin: $amui-space-md auto;
}

.amui-h-mv-ml {
  margin: $amui-space-ml auto;
}

.amui-h-mv-lg {
  margin: $amui-space-lg auto;
}

.amui-h-mv-xl {
  margin: $amui-space-xl auto;
}

.amui-h-mv-xxl {
  margin: $amui-space-xxl auto;
}

.amui-h-mv-xxxl {
  margin: $amui-space-xxxl auto;
}

// Margin Horizontal
// ------------------------------

// Negative
// .amui-h-mh-n-none {
//   margin: auto -$amui-space-none;
// }

// .amui-h-mh-n-xxxs {
//   margin: auto -$amui-space-xxxs;
// }

// .amui-h-mh-n-xxs {
//   margin: auto -$amui-space-xxs;
// }

// .amui-h-mh-n-xs {
//   margin: auto -$amui-space-xs;
// }

// .amui-h-mh-n-sm {
//   margin: auto -$amui-space-sm;
// }

// .amui-h-mh-n-ms {
//   margin: auto -$amui-space-ms;
// }

// .amui-h-mh-n-md {
//   margin: auto -$amui-space-md;
// }

// .amui-h-mh-n-ml {
//   margin: auto -$amui-space-ml;
// }

// .amui-h-mh-n-lg {
//   margin: auto -$amui-space-lg;
// }

// .amui-h-mh-n-xl {
//   margin: auto -$amui-space-xl;
// }

// .amui-h-mh-n-xxl {
//   margin: auto -$amui-space-xxl;
// }

// .amui-h-mh-n-xxxl {
//   margin: auto -$amui-space-xxxl;
// }

// Positive
.amui-h-mh-none {
  margin: auto $amui-space-none;
}

.amui-h-mh-xxxs {
  margin: auto $amui-space-xxxs;
}

.amui-h-mh-xxs {
  margin: auto $amui-space-xxs;
}

.amui-h-mh-xs {
  margin: auto $amui-space-xs;
}

.amui-h-mh-sm {
  margin: auto $amui-space-sm;
}

.amui-h-mh-ms {
  margin: auto $amui-space-ms;
}

.amui-h-mh-md {
  margin: auto $amui-space-md;
}

.amui-h-mh-ml {
  margin: auto $amui-space-ml;
}

.amui-h-mh-lg {
  margin: auto $amui-space-lg;
}

.amui-h-mh-xl {
  margin: auto $amui-space-xl;
}

.amui-h-mh-xxl {
  margin: auto $amui-space-xxl;
}

.amui-h-mh-xxxl {
  margin: auto $amui-space-xxxl;
}
// End Margin Helpers styles
