// -----------------------------------------------------------------------------
// This file contains Padding Helpers styles
// -----------------------------------------------------------------------------

// Padding all
// ------------------------------

// Negative
.amui-h-p-n-none {
  padding: -$amui-space-none;
}

.amui-h-p-n-xxxs {
  padding: -$amui-space-xxxs;
}

.amui-h-p-n-xxs {
  padding: -$amui-space-xxs;
}

.amui-h-p-n-xs {
  padding: -$amui-space-xs;
}

.amui-h-p-n-sm {
  padding: -$amui-space-sm;
}

.amui-h-p-n-ms {
  padding: -$amui-space-ms;
}

.amui-h-p-n-md {
  padding: -$amui-space-md;
}

.amui-h-p-n-ml {
  padding: -$amui-space-ml;
}

.amui-h-p-n-lg {
  padding: -$amui-space-lg;
}

.amui-h-p-n-xl {
  padding: -$amui-space-xl;
}

.amui-h-p-n-xxl {
  padding: -$amui-space-xxl;
}

.amui-h-p-n-xxxl {
  padding: -$amui-space-xxxl;
}

// Positive
.amui-h-p-none {
  padding: $amui-space-none;
}

.amui-h-p-xxxs {
  padding: $amui-space-xxxs;
}

.amui-h-p-xxs {
  padding: $amui-space-xxs;
}

.amui-h-p-xs {
  padding: $amui-space-xs;
}

.amui-h-p-sm {
  padding: $amui-space-sm;
}

.amui-h-p-ms {
  padding: $amui-space-ms;
}

.amui-h-p-md {
  padding: $amui-space-md;
}

.amui-h-p-ml {
  padding: $amui-space-ml;
}

.amui-h-p-lg {
  padding: $amui-space-lg;
}

.amui-h-p-xl {
  padding: $amui-space-xl;
}

.amui-h-p-xxl {
  padding: $amui-space-xxl;
}

.amui-h-p-xxxl {
  padding: $amui-space-xxxl;
}

// Padding Top
// ------------------------------

// Negative
.amui-h-pt-n-none {
  padding-top: -$amui-space-none;
}

.amui-h-pt-n-xxxs {
  padding-top: -$amui-space-xxxs;
}

.amui-h-pt-n-xxs {
  padding-top: -$amui-space-xxs;
}

.amui-h-pt-n-xs {
  padding-top: -$amui-space-xs;
}

.amui-h-pt-n-sm {
  padding-top: -$amui-space-sm;
}

.amui-h-pt-n-ms {
  padding-top: -$amui-space-ms;
}

.amui-h-pt-n-md {
  padding-top: -$amui-space-md;
}

.amui-h-pt-n-ml {
  padding-top: -$amui-space-ml;
}

.amui-h-pt-n-lg {
  padding-top: -$amui-space-lg;
}

.amui-h-pt-n-xl {
  padding-top: -$amui-space-xl;
}

.amui-h-pt-n-xxl {
  padding-top: -$amui-space-xxl;
}

.amui-h-pt-n-xxxl {
  padding-top: -$amui-space-xxxl;
}

// Positive
.amui-h-pt-none {
  padding-top: $amui-space-none;
}

.amui-h-pt-xxxs {
  padding-top: $amui-space-xxxs;
}

.amui-h-pt-xxs {
  padding-top: $amui-space-xxs;
}

.amui-h-pt-xs {
  padding-top: $amui-space-xs;
}

.amui-h-pt-sm {
  padding-top: $amui-space-sm;
}

.amui-h-pt-ms {
  padding-top: $amui-space-ms;
}

.amui-h-pt-md {
  padding-top: $amui-space-md;
}

.amui-h-pt-ml {
  padding-top: $amui-space-ml;
}

.amui-h-pt-lg {
  padding-top: $amui-space-lg;
}

.amui-h-pt-xl {
  padding-top: $amui-space-xl;
}

.amui-h-pt-xxl {
  padding-top: $amui-space-xxl;
}

.amui-h-pt-xxxl {
  padding-top: $amui-space-xxxl;
}

// Padding Bottom
// ------------------------------

// Negative
.amui-h-pb-n-none {
  padding-bottom: -$amui-space-none;
}

.amui-h-pb-n-xxxs {
  padding-bottom: -$amui-space-xxxs;
}

.amui-h-pb-n-xxs {
  padding-bottom: -$amui-space-xxs;
}

.amui-h-pb-n-xs {
  padding-bottom: -$amui-space-xs;
}

.amui-h-pb-n-sm {
  padding-bottom: -$amui-space-sm;
}

.amui-h-pb-n-ms {
  padding-bottom: -$amui-space-ms;
}

.amui-h-pb-n-md {
  padding-bottom: -$amui-space-md;
}

.amui-h-pb-n-ml {
  padding-bottom: -$amui-space-ml;
}

.amui-h-pb-n-lg {
  padding-bottom: -$amui-space-lg;
}

.amui-h-pb-n-xl {
  padding-bottom: -$amui-space-xl;
}

.amui-h-pb-n-xxl {
  padding-bottom: -$amui-space-xxl;
}

.amui-h-pb-n-xxxl {
  padding-bottom: -$amui-space-xxxl;
}

// Positive
.amui-h-pb-none {
  padding-bottom: $amui-space-none;
}

.amui-h-pb-xxxs {
  padding-bottom: $amui-space-xxxs;
}

.amui-h-pb-xxs {
  padding-bottom: $amui-space-xxs;
}

.amui-h-pb-xs {
  padding-bottom: $amui-space-xs;
}

.amui-h-pb-sm {
  padding-bottom: $amui-space-sm;
}

.amui-h-pb-ms {
  padding-bottom: $amui-space-ms;
}

.amui-h-pb-md {
  padding-bottom: $amui-space-md;
}

.amui-h-pb-ml {
  padding-bottom: $amui-space-ml;
}

.amui-h-pb-lg {
  padding-bottom: $amui-space-lg;
}

.amui-h-pb-xl {
  padding-bottom: $amui-space-xl;
}

.amui-h-pb-xxl {
  padding-bottom: $amui-space-xxl;
}

.amui-h-pb-xxxl {
  padding-bottom: $amui-space-xxxl;
}

// Padding Left
// ------------------------------

// Negative
.amui-h-pl-n-none {
  padding-left: -$amui-space-none;
}

.amui-h-pl-n-xxxs {
  padding-left: -$amui-space-xxxs;
}

.amui-h-pl-n-xxs {
  padding-left: -$amui-space-xxs;
}

.amui-h-pl-n-xs {
  padding-left: -$amui-space-xs;
}

.amui-h-pl-n-sm {
  padding-left: -$amui-space-sm;
}

.amui-h-pl-n-ms {
  padding-left: -$amui-space-ms;
}

.amui-h-pl-n-md {
  padding-left: -$amui-space-md;
}

.amui-h-pl-n-ml {
  padding-left: -$amui-space-ml;
}

.amui-h-pl-n-lg {
  padding-left: -$amui-space-lg;
}

.amui-h-pl-n-xl {
  padding-left: -$amui-space-xl;
}

.amui-h-pl-n-xxl {
  padding-left: -$amui-space-xxl;
}

.amui-h-pl-n-xxxl {
  padding-left: -$amui-space-xxxl;
}

// Positive
.amui-h-pl-none {
  padding-left: $amui-space-none;
}

.amui-h-pl-xxxs {
  padding-left: $amui-space-xxxs;
}

.amui-h-pl-xxs {
  padding-left: $amui-space-xxs;
}

.amui-h-pl-xs {
  padding-left: $amui-space-xs;
}

.amui-h-pl-sm {
  padding-left: $amui-space-sm;
}

.amui-h-pl-ms {
  padding-left: $amui-space-ms;
}

.amui-h-pl-md {
  padding-left: $amui-space-md;
}

.amui-h-pl-ml {
  padding-left: $amui-space-ml;
}

.amui-h-pl-lg {
  padding-left: $amui-space-lg;
}

.amui-h-pl-xl {
  padding-left: $amui-space-xl;
}

.amui-h-pl-xxl {
  padding-left: $amui-space-xxl;
}

.amui-h-pl-xxxl {
  padding-left: $amui-space-xxxl;
}

// Padding Right
// ------------------------------

// Negative
.amui-h-pr-n-none {
  padding-right: -$amui-space-none;
}

.amui-h-pr-n-xxxs {
  padding-right: -$amui-space-xxxs;
}

.amui-h-pr-n-xxs {
  padding-right: -$amui-space-xxs;
}

.amui-h-pr-n-xs {
  padding-right: -$amui-space-xs;
}

.amui-h-pr-n-sm {
  padding-right: -$amui-space-sm;
}

.amui-h-pr-n-ms {
  padding-right: -$amui-space-ms;
}

.amui-h-pr-n-md {
  padding-right: -$amui-space-md;
}

.amui-h-pr-n-ml {
  padding-right: -$amui-space-ml;
}

.amui-h-pr-n-lg {
  padding-right: -$amui-space-lg;
}

.amui-h-pr-n-xl {
  padding-right: -$amui-space-xl;
}

.amui-h-pr-n-xxl {
  padding-right: -$amui-space-xxl;
}

.amui-h-pr-n-xxxl {
  padding-right: -$amui-space-xxxl;
}

// Positive
.amui-h-pr-none {
  padding-right: $amui-space-none;
}

.amui-h-pr-xxxs {
  padding-right: $amui-space-xxxs;
}

.amui-h-pr-xxs {
  padding-right: $amui-space-xxs;
}

.amui-h-pr-xs {
  padding-right: $amui-space-xs;
}

.amui-h-pr-sm {
  padding-right: $amui-space-sm;
}

.amui-h-pr-ms {
  padding-right: $amui-space-ms;
}

.amui-h-pr-md {
  padding-right: $amui-space-md;
}

.amui-h-pr-ml {
  padding-right: $amui-space-ml;
}

.amui-h-pr-lg {
  padding-right: $amui-space-lg;
}

.amui-h-pr-xl {
  padding-right: $amui-space-xl;
}

.amui-h-pr-xxl {
  padding-right: $amui-space-xxl;
}

.amui-h-pr-xxxl {
  padding-right: $amui-space-xxxl;
}

// Padding Vertical
// ------------------------------

// Negative
// .amui-h-pv-n-none {
//   padding: -$amui-space-none auto;
// }

// .amui-h-pv-n-xxxs {
//   padding: -$amui-space-xxxs auto;
// }

// .amui-h-pv-n-xxs {
//   padding: -$amui-space-xxs auto;
// }

// .amui-h-pv-n-xs {
//   padding: -$amui-space-xs auto;
// }

// .amui-h-pv-n-sm {
//   padding: -$amui-space-sm auto;
// }

// .amui-h-pv-n-ms {
//   padding: -$amui-space-ms auto;
// }

// .amui-h-pv-n-md {
//   padding: -$amui-space-md auto;
// }

// .amui-h-pv-n-ml {
//   padding: -$amui-space-ml auto;
// }

// .amui-h-pv-n-lg {
//   padding: -$amui-space-lg auto;
// }

// .amui-h-pv-n-xl {
//   padding: -$amui-space-xl auto;
// }

// .amui-h-pv-n-xxl {
//   padding: -$amui-space-xxl auto;
// }

// .amui-h-pv-n-xxxl {
//   padding: -$amui-space-xxxl auto;
// }

// Positive
.amui-h-pv-none {
  padding: $amui-space-none auto;
}

.amui-h-pv-xxxs {
  padding: $amui-space-xxxs auto;
}

.amui-h-pv-xxs {
  padding: $amui-space-xxs auto;
}

.amui-h-pv-xs {
  padding: $amui-space-xs auto;
}

.amui-h-pv-sm {
  padding: $amui-space-sm auto;
}

.amui-h-pv-ms {
  padding: $amui-space-ms auto;
}

.amui-h-pv-md {
  padding: $amui-space-md auto;
}

.amui-h-pv-ml {
  padding: $amui-space-ml auto;
}

.amui-h-pv-lg {
  padding: $amui-space-lg auto;
}

.amui-h-pv-xl {
  padding: $amui-space-xl auto;
}

.amui-h-pv-xxl {
  padding: $amui-space-xxl auto;
}

.amui-h-pv-xxxl {
  padding: $amui-space-xxxl auto;
}

// Padding Horizontal
// ------------------------------

// Negative
// .amui-h-ph-n-none {
//   padding: auto $amui-space-none;
// }

// .amui-h-ph-n-xxxs {
//   padding: auto $amui-space-xxxs;
// }

// .amui-h-ph-n-xxs {
//   padding: auto $amui-space-xxs;
// }

// .amui-h-ph-n-xs {
//   padding: auto $amui-space-xs;
// }

// .amui-h-ph-n-sm {
//   padding: auto $amui-space-sm;
// }

// .amui-h-ph-n-ms {
//   padding: auto $amui-space-ms;
// }

// .amui-h-ph-n-md {
//   padding: auto $amui-space-md;
// }

// .amui-h-ph-n-ml {
//   padding: auto $amui-space-ml;
// }

// .amui-h-ph-n-lg {
//   padding: auto $amui-space-lg;
// }

// .amui-h-ph-n-xl {
//   padding: auto $amui-space-xl;
// }

// .amui-h-ph-n-xxl {
//   padding: auto $amui-space-xxl;
// }

// .amui-h-ph-n-xxxl {
//   padding: auto $amui-space-xxxl;
// }

// Positive
.amui-h-ph-none {
  padding: auto $amui-space-none;
}

.amui-h-ph-xxxs {
  padding: auto $amui-space-xxxs;
}

.amui-h-ph-xxs {
  padding: auto $amui-space-xxs;
}

.amui-h-ph-xs {
  padding: auto $amui-space-xs;
}

.amui-h-ph-sm {
  padding: auto $amui-space-sm;
}

.amui-h-ph-ms {
  padding: auto $amui-space-ms;
}

.amui-h-ph-md {
  padding: auto $amui-space-md;
}

.amui-h-ph-ml {
  padding: auto $amui-space-ml;
}

.amui-h-ph-lg {
  padding: auto $amui-space-lg;
}

.amui-h-ph-xl {
  padding: auto $amui-space-xl;
}

.amui-h-ph-xxl {
  padding: auto $amui-space-xxl;
}

.amui-h-ph-xxxl {
  padding: auto $amui-space-xxxl;
}
// End Padding Helpers styles
