// -----------------------------------------------------------------------------
// This file contains Vertical alignment Helpers styles
// -----------------------------------------------------------------------------

.amui-h-vertical-align-bottom {
  vertical-align: bottom;
}

.amui-h-vertical-align-middle {
  vertical-align: middle;
}

.amui-h-vertical-align-top {
  vertical-align: top;
}
// End Vertical alignment Helpers styles
