// -----------------------------------------------------------------------------
// This file contains Miixn Molecule Panel styles.
// -----------------------------------------------------------------------------
@mixin panel {
  border-radius: $amui-border-radius-md;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
  margin-bottom: $amui-space-sm;
  margin-top: $amui-space-sm;
  padding: $amui-space-md;
}
// End Molecules panel styles
