// -----------------------------------------------------------------------------
// This file contains Organism Navigation date
// -----------------------------------------------------------------------------
.amui-o-date-navigation {
  background-color: $amui-color-white;
  box-shadow: 0 $amui-size-border-thin 0 0 $amui-color-gray-400;
  color: $amui-color-gray-700;
  font-size: $amui-font-size-lg;
  height: rem(72);
  padding: $amui-space-sm $amui-space-none;
  position: relative;
  text-align: center;
}
// End Organism Navigation date
