// Border radius
// -----------------------------------------------------------------------------
$amui-border-radius-sm: rem(2) !default;
$amui-border-radius-md: rem(4) !default;
$amui-border-radius-lg: rem(8) !default;
$amui-border-radius-rounded: rem(1000) !default;
