// Percentage
// -----------------------------------------------------------------------------
$amui-percent-rate-0: 0%;
$amui-percent-rate-5: 5%;
$amui-percent-rate-10: 10%;
$amui-percent-rate-15: 15%;
$amui-percent-rate-20: 20%;
$amui-percent-rate-25: 25%;
$amui-percent-rate-30: 30%;
$amui-percent-rate-35: 35%;
$amui-percent-rate-40: 40%;
$amui-percent-rate-45: 45%;
$amui-percent-rate-50: 50%;
$amui-percent-rate-55: 55%;
$amui-percent-rate-60: 60%;
$amui-percent-rate-65: 65%;
$amui-percent-rate-70: 70%;
$amui-percent-rate-75: 75%;
$amui-percent-rate-80: 80%;
$amui-percent-rate-85: 85%;
$amui-percent-rate-90: 90%;
$amui-percent-rate-95: 95%;
$amui-percent-rate-100: 100%;
