// Spacing
// -----------------------------------------------------------------------------
$amui-space-none: 0;
$amui-space-xxxs: rem(4) !default;
$amui-space-xxs: rem(8) !default;
$amui-space-xs: rem(12) !default;
$amui-space-sm: rem(16) !default;
$amui-space-ms: rem(20) !default;
$amui-space-md: rem(24) !default;
$amui-space-ml: rem(28) !default;
$amui-space-lg: rem(32) !default;
$amui-space-xl: rem(36) !default;
$amui-space-xxl: rem(40) !default;
$amui-space-xxxl: rem(48) !default;
